.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: pink;
    left: auto;
}

.primary-btn {
  background-color: blue;
  color: white;

    position: relative;
    left: 100px;
    top: auto;
    display: block;
    margin: 0 auto;
}

.text-input{
    position: relative;
    left: auto;
    top: auto;
    display: block;
    margin: 0 auto;
}