.titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: pink;

}

.primary-btn {
  background-color: blue;
  color: white;

  position: relative;
  top: 20px;
  left: 100px;
}