.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: auto;
    color: pink;
    
}

.primary-btn {
    background-color: blue;
    color: white;

    position: relative;
    left: 0%;
    top: auto;
    display: block;
    margin: 0 auto;
}

.text-input{
    position: relative;
    left: auto;
    top: auto;
    display: block;
    margin: 0 auto;
}

.color-bar {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    margin: 0 auto;
    width: 30px;
    height: 10svh;
    background-color: red;
}
