.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: auto;
    color: pink;
    
    z-index: 1;
}

.primary-btn {
    position: relative;
    display: block;

    left: 0%;
    top: auto;
    margin: 0 auto;

    background-color: blue;
    color: white;
    z-index: 1;
}

.text-input{
    position: relative;
    display: block;

    left: auto;
    top: auto;
    margin: 0 auto;
    z-index: 2;
}

.color-bar {
    display: flex;
    margin: 0 auto;
    width: 30px;
    height: 20svh;
    background-color: red;
    z-index: 1;
}
