.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: pink;
    left: auto;
}

.primary-btn {
  background-color: blue;
  color: white;

    position: relative;
    left: auto;
    top: auto;
}

.text-input{
    position: relative;
    left: auto;
    top: auto;
}