.titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: pink;
    left: auto;
}

.primary-btn {
  background-color: blue;
  color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}